---
import GameLayout from '../../layouts/GameLayout.astro';
---

<GameLayout>
  <div class="flex items-center justify-center h-screen">
    <p class="text-neon font-game text-sm">Hidden Final Room</p>
  </div>
</GameLayout>
